@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl font-bold pb-4;
  }

  body {
    @apply font-poppins text-base sm:text-lg;
  }
  
  g {
    @apply dark:stroke-light;
  }
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}
